.character-sheet {
    display: grid;
    grid-template-columns: repeat(10, auto-fit) /*140px 380px 1fr 1fr 1fr*/;
    grid-template-rows: repeat(10, auto-fit) /*200px 300px 700px 270px 270px*/;
    gap: 40px;
    padding: 40px;
    position: relative;
    
}

h1 {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
}

h2 {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
}

h3 {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 24px;
}

p {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 24px;
}

li {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 20px;
}

.character {
    box-sizing: border-box;

    position: relative;
    height: 200px;
    width: calc(100vw - 80px);

    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );
    border: 4px solid #7A5A33;
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);    border-radius: 15px;
    padding: 20px;
    grid-column: span 4 / span 4;

}

.cgrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: inherit;
    column-width: calc(100vw - 60px);
    overflow: hidden /*to be changed*/
}

.cname {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 3.5vw;
}

.ctext {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 1.75vw;  
}

.stats-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    width: 140px;
    position: relative;

    grid-row: span 3 / span 3   ;
    grid-row-start: 2;
}

.stat-bubble {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.stat-img {
    width: 140px;
    height: 'auto';
}

.stat-label {
    margin-top: 5px;
    font-size: 24px;
    font-family: "IM Fell English SC", serif;
    color: #333;
    text-align: center;
    width: inherit;
}



.summary-box {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;

    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );
    border: 4px solid #7A5A33;
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);      
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    height: fit-content;

}

.summary-text {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
}

.snp {
    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );    
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid #7A5A33;
    border-radius: 15px;
    padding: 20px;

    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
}

.snp-text {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div8 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div9 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div10 {
    grid-column-start: 4;
    grid-row-start: 7;
}
        