.character-sheet {
    display: grid;
    grid-template-columns: repeat(5, auto-fit) /*140px 380px 1fr 1fr 1fr*/;
    grid-template-rows: repeat(5, auto-fit) /*200px 300px 700px 270px 270px*/;
    column-gap: 40px;
    row-gap: 60px;
    padding: 40px;
    position: relative;
    margin: auto
    
}

h1 {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
}

h2 {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: calc(1vw + 24px);  
}

h3 {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: calc(1vw + 15px);  
}

p {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 24px;  
}

li {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 24px;
}

.character {
    box-sizing: border-box;

    position: relative;
    height: fit-content;
    width: fit-content;
    min-width: 1000px;

    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );
    border: 4px solid #7A5A33;
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);    border-radius: 15px;
    padding: 20px;
    grid-column: span 3 / span 3;

}

.cgrid {
    display: grid;
    grid-template-columns: repeat(2,calc(100vw/2 - 70px));
    height: inherit;
    max-width: inherit;
    overflow-wrap: break-word /*to be changed*/
}

.cname {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: calc(1vw + 45px);
}

.ctext {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: calc(1vw + 15px);  
}

.cformat {
    overflow-wrap: normal;
}

.stats-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    width: 140px;
    position: relative;

    grid-row: span 2 / span 5;
    grid-row-start: 2;
}

.stat-bubbles {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    margin-bottom: 20px;
}

.stat-img {
    width: 140px;
    height: 'auto';
}

.stat-img:hover {
    transform: scale(1.1);
}

.stat-label {
    margin-top: 5px;
    font-size: 24px;
    font-family: "IM Fell English SC", serif;
    color: #333;
    text-align: center;
    width: inherit;
}

.summary-box {
    grid-column: span 2 / span 3;
    grid-row-start: 2;
    width:fit-content;
    min-width: 820px;
    height: fit-content;

    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );
    border: 4px solid #7A5A33;
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);      
    border-radius: 15px;
    padding: 20px;
}

.summary-format {
    margin: 0;
    max-width: fit-content;
}

.summary-text p{
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    word-wrap: normal;
}

.portraits {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 400px;
    height: 800px;
    margin: -70px 0 0 -20px;
}

.portrait img {
    width: 600px;
    min-width: 330px;
}

.skills {
    grid-column-start: 3;
    grid-row-start: 3;
    width: 600px;
    height: 800px;
    margin: -100px 0 0 100px;
}

.snp {
    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );    
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid #7A5A33;
    border-radius: 15px;
    padding: 20px;

    
    width: 550px;
    height: fit-content;
}

.snp-text {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
    list-style: none;
}

.snp-text li::before {
    content: attr(data-icon)
}

.saving {
    grid-column-start: 2;
    grid-row-start: 4;

    background: linear-gradient(
    90deg,
    rgba(245, 230, 190, 0.95) 0%,
    rgba(255, 248, 220, 0.95) 50%,
    rgba(245, 230, 190, 0.95) 100%
    );    
    box-shadow:
    inset 0 0 15px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid #7A5A33;
    border-radius: 15px;
    padding: 20px;

    width: fit-content;
    height: fit-content;
}

.saving-text {
    margin: 0;
    color: #333;
    font-family: "IM Fell English SC", serif;
    font-size: 32px;
    list-style: none;
}

.saving-text li::before {
    content: attr(data-icon)
}

.dice-roll {
    grid-column-start: 3;
    grid-row-start: 4;
}