.stack-container {
  position: relative;
  perspective: 600px;
  min-width: 300px;
}

.card {
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.card-rotate {
  position: absolute;
  cursor: grab;
  justify-content: center;
  align-items: center;
}

.card-content {
  pointer-events: none;
  width: fit-content;
  height: fit-content;
  object-fit: cover;
}